.home {
    display: flex; /* Enables flexbox to place items side by side */
    align-items: center; /* Aligns items vertically in the center */
    margin-top: 8%;
    gap: 15px; /* Adds space between the div and the h1 */
}

.home div {
    background-color: white;
    background-image: url("../images/20230926_172029~2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*margin-left: 5%;*/
    height: 50vh; 
    width: 50vh;
    border-radius: 50%;
    overflow: hidden;
}

.home h2 {
    margin-top: auto;
    margin-left: 10%;  /* Centered on mobile */
    font-size: 2rem;
    color: white;
}

.home h4 {
    margin-top: -12%;
    margin-right: 0;
    font-size: 1.2rem;
    color: white;
}
